@use "functions";
@use "utilities";

// main styles
.container {
  padding: 0 functions.spacing(1.5);
  // TODO: search for font-family and replace with brand font.
}

header {
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: utilities.$primary-color;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: functions.spacing(0.8);
    }
  }

  // Hero section styles
  #hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: utilities.$highlight-color;
  }

  // Profile picture styles
  #profilepic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }
}
